<!-- SIDEBAR DESTRA - Attività Amici -->
<div class="col-2 sidebar-right">
  <div class="friends-activity">
    <!-- Header -->
    <div class="friends-header">
      <h6>Attività amici</h6>
      <div class="header-icons">
        <button class="header-icon-btn" aria-label="Aggiungi amico">
          <i class="fas fa-user-plus"></i>
        </button>
        <button class="header-icon-btn" aria-label="Chiudi">
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>

    <!-- Lista attività -->
    <div class="friends-list">
      <!-- Amico 1 -->
      <div class="friend-activity-item">
        <div class="friend-avatar-wrapper">
          <div class="friend-avatar">
            <i class="fas fa-user"></i>
          </div>
        </div>
        <div class="friend-info">
          <div class="friend-header">
            <span class="friend-name">Charlie Hookham</span>
            <span class="friend-time">4 ore</span>
          </div>
          <div class="friend-song">In Camer• • Yann Zooma</div>
          <div class="friend-album">
            <i class="fas fa-circle"></i>
            <span>EP III</span>
          </div>
        </div>
      </div>

      <!-- Amico 2 -->
      <div class="friend-activity-item">
        <div class="friend-avatar-wrapper">
          <div class="friend-avatar">
            <i class="fas fa-user"></i>
          </div>
        </div>
        <div class="friend-info">
          <div class="friend-header">
            <span class="friend-name">lightdark02</span>
            <span class="friend-time">8 ore</span>
          </div>
          <div class="friend-song">Aimed to Kill • Jade LeMac</div>
          <div class="friend-album">
            <i class="fas fa-circle"></i>
            <span>Aimed to Kill</span>
          </div>
        </div>
      </div>

      <!-- Amico 3 -->
      <div class="friend-activity-item">
        <div class="friend-avatar-wrapper">
          <div class="friend-avatar">
            <i class="fas fa-user"></i>
          </div>
        </div>
        <div class="friend-info">
          <div class="friend-header">
            <span class="friend-name">Valeria Traverso</span>
            <span class="friend-time">3 giorni</span>
          </div>
          <div class="friend-song">New Kings • Sleeping Wolf</div>
          <div class="friend-album">
            <i class="fas fa-music"></i>
            <span>Twist Badass mood</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
